html {
  font-size: 16px;
}

.container {

  max-width: 1440px;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  position: fixed;
}

.base {
  padding-bottom: 1200px;
  margin-bottom: auto;
}

.maininfo {
  background-color: yellow;
  display: flex;
  min-height: 319px;
  justify-content: start;
  padding-bottom: 10px;
}

.photo {
  width: 300px;
  height: 319px;
  border-radius: 50%;
  margin-left: 50px;
}

.contacts {
  background-color: pink;
  align-self: center;
  margin-left: 100px;
}

.name {
  font-size: 4rem;
}

.contactsInfo {
  font-size: 2rem;
  list-style: none;
  padding-left: 55px;
}

.contactsInfo :nth-child(n) {
  background-repeat: no-repeat;
  padding-left: 40px;
}

.city {
  background-image: url(img/city.png);
}

.mail {
  background-image: url(img/mail.png);
}

.git {
  background-image: url(img/github.png);
}

.disc {
  background-image: url(img/discord.png);
}

.tele {
  background-image: url(img/telegram.png);
}

.navigation {
  display: flex;
  justify-content: start; 
}

.navigation li {
  list-style: none;
}

.navigation li a {
  display: block;
  background-color: pink;
  padding: 10px;
  width: 140px;
  border: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.navigation li:nth-child(n+2) a {
  border-left: none;
  
}

.navigation li:nth-child(1) a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.navigation li:last-child a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navigation li:hover {
  list-style: none;
}

.navigation li a:hover {
  background-color: rgb(241, 226, 229);
  color: white;
  text-transform: capitalize;
}

.sectionHeader {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 10px;
}

.baseSections {
  padding-top: 370px;
}

.baseSections:nth-child(n+2) {
  margin-top: -370px;
}

.sectionContent {
  font-size: 1rem;
  padding-left: 20px;
}

.footer {
  position: fixed;
  top: 75%;
  background-color: yellow;
  padding-top: 50px;
  padding-bottom: 100%;
}

.githubRsschool {
  display: flex;
  justify-content: space-around;
}

.linkButton {
  align-self: center;
  width: 600px;
  padding-top: 120px;
  padding-bottom: 10px;
  background-color: white;
  text-align: center;
  background-position-x: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  background-color: pink;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 10px rgba(0,0,0,.1);
}

.github {
  background-image: linear-gradient(45deg, rgba(255, 192, 203, .5), rgba(255, 255, 255, .5)), url(github_logo.png) ; 
}

.github:hover {
  background-image: linear-gradient(45deg, rgba(255, 192, 203, .5), rgba(218, 30, 30, 0.5)), url(github_logo.png) ; 
  box-shadow: none;
}

.rsschool {
  background-image: linear-gradient(45deg, rgba(255, 192, 203, .5), rgba(255, 255, 255, .5)), url(rsschool_logo.gif);
}

.rsschool:hover {
  background-image: linear-gradient(45deg, rgba(255, 192, 203, .5), rgba(218, 30, 30, 0.5)), url(rsschool_logo.gif) ; 
  box-shadow: none;
}



.year {
  text-align: center;
  font-size: 2rem;
}