html {
  font-size: 16px;
}

.container {
  max-width: 1440px;
  min-width: 720px;
  width: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.maininfo {
  background-color: yellow;
  display: flex;
  min-height: 319px;
  justify-content: start;
  padding-bottom: 10px;
}

.photo {
  width: 300px;
  height: 319px;
  border-radius: 50%;
  margin-left: 50px;
}

.contacts {
  background-color: white;
  align-self: center;
  margin-left: 100px;
}

.name {
  font-size: 4rem;
}

.contactsInfo {
  font-size: 2rem;
  list-style: none;
  padding-left: 55px;
}

.navigation {
  display: flex;
  justify-content: start;
  
}

.navigation li {
  list-style: none;
}

.navigation li a {
  background-color: pink;
  padding-top: 10px;
  padding: 10px;
  width: 70px;
  border: solid;
  border-color: black;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  ;
}

.navigation li:nth-child(n+2) {
  border-left: none;
}

.navigation li:hover {
  list-style: none;
}

.navigation li a:hover {
  background-color: rgb(241, 226, 229);
  color: white;
  text-transform: capitalize;
}

.sectionHeader {
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sectionContent {
  font-size: 1rem;
  padding-left: 20px;
}

.footer {
  background-color: yellow;
  padding-top: 50px;
}

.githubRsschool {
  display: flex;
  justify-content: space-around;
}

.github {
  align-self: center;
  width: 160px;
  padding-top: 120px;
  background-color: white;
  text-align: center;
  background-image: url(github_logo.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.rsschool {
  padding-top: 80px;
  width: 160px;
  background-color: white;
  background-image: url(rsschool_logo.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

.year {
  text-align: center;
}